# Raw data — too large for git
data/raw/

# dbt
egypt_tech_jobs/target/
egypt_tech_jobs/dbt_packages/
egypt_tech_jobs/logs/
egypt_tech_jobs/profiles.yml

# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db